<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <title>Age</title>
</head>
<body>
  <form action="/check" method="post">
    <div class="row">
      <div class="input-field col s1">
        <input id="age" type="number" name="age" min="1" max="99">
        <label for="age">Age</label>
        <button class="btn waves-effect waves-light" type="submit">Enviar</button>
      </div>
    </div>
  </form>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
